@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

.mainContainer {
  background: #202020;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.titleContainer div {
  font-family: 'Almarai', sans-serif;
  font-weight: 600;
  font-size: calc(22px + 1.4vw);
  text-decoration: none;
  color: #ffffff;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appGithub {
  width: calc(30% + 1.4vw);
  align-self: center;
}

.p1 {
  animation: show 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p1:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p2 {
  animation: show 1s;
  animation-delay: .1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p2:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p3 {
  animation: show 1s;
  animation-delay: .2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p3:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p4 {
  animation: show 1s;
  animation-delay: .3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p4:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p5 {
  animation: show 1s;
  animation-delay: .4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p5:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p6 {
  animation: show 1s;
  animation-delay: .5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p6:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p7 {
  animation: show 1s;
  animation-delay: .6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p7:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p8 {
  animation: show 1s;
  animation-delay: .7s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p8:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p9 {
  animation: show 1s;
  animation-delay: .8s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p9:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p10 {
  animation: show 1s;
  animation-delay: .9s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p10:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p11 {
  animation: show 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p11:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p12 {
  animation: show 1s;
  animation-delay: 1.1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p12:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p13 {
  animation: show 1s;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p13:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p14 {
  animation: show 1s;
  animation-delay: 1.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p14:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p15 {
  animation: show 1s;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p15:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p16 {
  animation: show 1s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p16:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p17 {
  animation: show 1s;
  animation-delay: 1.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p17:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

.p18 {
  animation: show 1s;
  animation-delay: 1.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.p18:hover {
  -webkit-text-stroke: 1px #ffffff;
  color: #202020;
}

@keyframes show {
  0% {
    transform: translate(0px, 33px);
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

a {
  margin: 0;
  animation: show 1s;
  animation-delay: 1.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}